{% extends 'base.html' %}
{% block title %}To-Do App – Tarefas concluídas{% endblock %}

{% block content %}
<table class="table table-hover mt-4">
    <thead>
        <tr>
            <th class="col-6 fs-3 lead"><strong>Tarefas</strong></th>
            <th class="col-2 fs-3 text-center lead"><strong>Status</strong></th>
            <th class="col-2 fs-3 text-center lead"><strong>Data</strong></th>
        </tr>
    </thead>

    <tbody>
        {% for task in tasks %}
        <tr>
            <td class="fs-6 lead">{{ task.description }}</td>
            <td class="fs-6 text-center lead">{{ task.status }}</td>
            <td class="fs-6 text-center lead">{{ task.creation_date }}</td>
        </tr>
        {% empty %}
        <tr>
            <td class="text-center fs-5 lead" colspan="3">
                Sua lista de tarefas concluídas está vazia!
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-secondary" href="{% url 'list-tasks' %}" role="button"><i class="bi bi-house-door"></i></a>
</div>
{% endblock %}