{% extends 'base.html' %}

{% block content %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
    <a class="btn btn-primary btn-lg me-md-2" href="{% url 'create-task' %}" role="button">Criar nova tarefa</a>
    <a class="btn btn-warning btn-lg me-md-2" href="{% url 'completed-tasks' %}" role="button">Concluídas</a>
    <a class="btn btn-secondary btn-lg" href="{% url 'pendent-tasks' %}" role="button">Pendentes</a>
</div>

<table class="table table-hover mt-4">
    <thead>
        <tr>
            <th class="col-6 fs-3 lead"><strong>Tarefas</strong></th>
            <th class="col-1 fs-3 text-center lead"><strong>Status</strong></th>
            <th class="col-3 fs-3 text-center lead"><strong>Data</strong></th>
            <th class="col-3 fs-3 text-center lead"><strong>Ações</strong></th>
        </tr>
    </thead>

    <tbody>
        {% for task in tasks %}
        <tr>
            <td class="fs-6 lead">{{ task.description }}</td>
            <td class="fs-6 text-center lead">{{ task.status }}</td>
            <td class="fs-6 text-center lead">{{ task.creation_date }}</td>
            <td class="text-center">
                <a class="btn btn-success" title="Editar tarefa" href="{% url 'update-description-task' task.pk %}"
                    role="button"><i class="bi bi-pencil-square"></i></a>
                <a class="btn btn-success ms-1" title="Concluir tarefa" href="{% url 'update-status-task' task.pk %}"
                    role="button"><i class="bi bi-check2-square"></i></a>
                <a class="btn btn-danger ms-1" title="Apagar tarefa" href="{% url 'delete-task' task.pk %}"
                    role="button"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td class="text-center fs-5 lead" colspan="4">
                Sua lista de tarefas está vazia!
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}